.field {
  height: 48px;
  width: calc(100% - 36px);
  margin-top: -12px;
  padding: 0 18px;
  outline: none;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid var(--color-core-border);
  color: var(--color-neutral-content-higher);
  background-color: transparent;
}

.label {
  padding: 0 6px;
  margin-left: 12px;
  position: relative;
  font-size: 12px;
  z-index: 1;
  color: var(--color-neutral-content);
  background-color: var(--color-core-background);
}
